body {
    margin: 150px;
}

[class^=container] {
    height: 300px;
}

#canvas-spinner {
    cursor: pointer;
}

canvas.spinning {
    /* @keyframes duration | timing-function | delay | iteration-count | direction | fill-mode | play-state | name */
    animation: 3s cubic-bezier(0.86, 0, 0.07, 1) 0s infinite normal spin;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1440deg);
    }
}

